.msbutton {
    padding:clamp(0px, 2%, 6px);
    width: clamp(50px, 100%, 120px);
    width: clamp(50px, 100%, 120px);
    font-size: 1rem
}

@media (max-width:768px) {

    .msbutton {
        font-size: .8rem;
    }

    
}