.backbutton {
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.itemgrid {
    padding:20px;
}


.CYOContainer {
    flex-direction:column;
}


.CYOoptionsContainer,
.CYOvisualContainer {
    width:100%;
}



@media (max-width:912px) {

    .CYOContainer {
        padding:5px;
    }


    .itemgrid {
        padding:5px;
    }

}