@font-face {
    font-family: HeadingNow;
    src: url('@/assets/heading_now/HeadingNowTrial-45Medium.ttf');
}

.navcomponents {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'HeadingNow', sans-serif;

}

.componentBar button {
    white-space: nowrap;
    flex-shrink: 0;
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HeadingNow, 'sans-serif';
    z-index: 10;
    mix-blend-mode: difference;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color:white

    

}


.componentBar button:hover {

    background: rgb(54, 54, 54);
    transition: .2s;
    cursor:pointer;

}

.componentBar .book:hover {
    color:white;
    background: #ef571b;
    transition: .2s;

}

.restbutton {
    padding:20px;
    border-width: 2px;
    
}

.orderwrapper {
    padding:20px
}

.orderbutton {
    border-width: 2px;
    border-color: white;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.book {
    color:#ef571b;
}

.dropdown {
    display: none;
}

.navicon {
    display: block;
}


@media (max-width:912px) {
    .componentBar {
        display: none;
    }

    .navicon {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .orderwrapper {
        padding:20px;
        text-align: center;
    }
}