@font-face {
    font-family: HeadingNow;
    src: url('@/assets/heading_now/HeadingNowTrial-45Medium.ttf');
}

.navcomponents {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'HeadingNow', sans-serif;

}



.book:hover {
    background: rgb(255, 255, 255);
    color: orange;
    transition:.2s;
}

.book {
    background:orange;
    color:white;
}

.componentBar {

    background: black;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height:70%
}

.componentBar button {
    white-space: nowrap;
    flex-shrink: 0;
    height:100%;
    padding:0 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.componentBar button:hover {

    background: rgb(54, 54, 54);
    transition: .2s;
    cursor:pointer;

}

.componentBar button.book:hover {
    background: rgb(255, 255, 255);
    color: orange;
    transition:.2s;
    
}


.componentBar button:first-child {
    padding-left: 55px;   /* more padding on the rounded outer side */
    padding-right: 40px;  /* matches the default inner padding */
}

.componentBar button:last-child {
    padding-right: 55px;  /* more padding on the rounded outer side */
    padding-left: 40px;
}
