.ELH {
    color: black;
    font-family: 'PersonalServices', sans-serif;
    font-size: clamp(1rem, 3vw, 5rem);
}

.outerelwrapper {
    padding-top: var(--nav-height);
}

.SELW {
    padding:5%;
    
}

.ELH2 {
    color: #012447;
    font-family: 'PersonalServices', sans-serif;
    font-size: clamp(1.5rem, 4vw, 5rem);
}

.ELT {
    color: black;
    font-size: clamp(.75rem, 1vw, 1.5rem);
}

.ELBook {
    background-color: #012447;
    color: white;
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    transition: .3s;

}

.ELCall {
    background-color: black;
    color: white;
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    transition: .3s;

}

.ELCall:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.ELBook:hover {
    background-color: white;
    color: #012447;
    border-color: #012447;
}

.ELDir {
    background-color: #ef571b;
    color: white;
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    transition: .3s;

} 

.ELDir:hover {
    background-color: white;
    color:#ef571b;
    border-color: #ef571b;
    
}

@media (orientation:portrait) {
    
    .ELFC {
        padding-top: var(--nav-height);
    }

    
    .outerelwrapper {
        width: 100%;
        padding: 0;
        
    }
}
