@font-face {
    font-family: PersonalServices;
    src: url('@/assets/personal_services/Personal Services.ttf');
}

.CSH {
    color: #012447;
    font-family: 'PersonalServices', sans-serif;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.CST {
    color: black;
    font-size: clamp(.75rem, 1vw, 1.5rem);

}