@font-face {
    font-family: PersonalServices;
    src: url('@/assets/personal_services/Personal Services.ttf');
}

.ItemCard {
    width:100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: end;
    flex-direction: column;
    overflow: hidden;
    text-align: center;

    
}

.ItemCard h1 {
    font-size: clamp(.8rem, 1vw, 1.5rem);
}

.ICT {
    font-size: clamp(.75rem, 1.5vw, 2rem);
    color: #012447;
    font-family: PersonalServices, 'sans-serif';
}

@media (max-width:912px) {

    .ItemCard {
        width:100px;
        min-height: 100px;
        aspect-ratio: 0;
    }

    
    
}

