@font-face {
    font-family: HeadingNow;
    src: url('@/assets/heading_now/HeadingNowTrial-45Medium.ttf');
}

@font-face {
    font-family: PersonalServices;
    src: url('@/assets/personal_services/Personal Services.ttf');
}



.MenuText {
    font-family: HeadingNow, 'sans-serif';
    font-size: clamp(.75rem, 3vw, 5rem);
}

.MenuHeader {
    font-family: HeadingNow, 'sans-serif';
    font-size: clamp(1.25rem, 3vw, 3.5rem);
}

.MenuHeader2 {
    font-family: PersonalServices, 'sans-serif';
    font-size: clamp(1.5rem, 3vw, 3.5rem);
    color: #012447;
    padding-top: 50px;
}



.MenuCard {
    background-image: linear-gradient(to right, #012447, #1c3752);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    border-color: white;
    border-width: 2px;
    padding:20px;
    gap: 20px;
}

.resultshowcase {
    padding:20px
}

.menuwrapper {
    padding:5%;
}


@media (max-width:912px) {

    .MenuHeader2 {
        text-align: center;
        padding-top: 150px;
    }

    .MenuCard {
        gap:0
    }

    .MenuText {
        display: none;
    }

    .resultshowcase {
        padding:5px
    }

    .MenuHeader {
        text-align: center;
    }

    .menuwrapper {
        min-height: 100vh;
    }
}

@media (width:1024px) {

    .MenuHeader2 {
        text-align: center;
        padding-top: 15%;
    }

    .menuwrapper {
        min-height: 100vh;
    }
}




