@font-face {
    font-family: HeadingNow;
    src: url('@/assets/heading_now/HeadingNowTrial-45Medium.ttf');
}

@font-face {
    font-family: PersonalServices;
    src: url('@/assets/heading_now/Personal Services.ttf');
}

.MenuText {
    font-family: HeadingNow, 'sans-serif';
    font-size: 2rem;
}

.MenuHeader {
    font-family: HeadingNow, 'sans-serif';
    font-size: 3rem;
}

.MenuHeader2 {
    font-family: PersonalServices, 'sans-serif';
    font-size: 3rem;
    color: #012447;
}

.MenuCard {
    background-image: linear-gradient(to right, #012447, #1c3752);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    border-color: white;
    border-width: 2px;
    padding:20px;
    gap: 20px;
}





