@font-face {
    font-family: HeadingNow;
    src: url('@/assets/heading_now/HeadingNowTrial-45Medium.ttf');
}


.SIHeader {

    font-family: HeadingNow, 'sans-serif';
}

@media (max-width:912px) {
    .showcaseitemcard {
        gap:5px;
        font-size: .5rem;
        padding:2px
    }

    
}