.SMI {
    width: 40px;
    height:auto
}

.FH {
    font-family: HeadingNow, 'sans-serif';
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    color: white;
   
}

.FH2 {
    font-family:PersonalServices, 'sans-serif';
    font-size: clamp(1rem, 2vw, 2.5rem);
    color: #d9ebff;
}

.footericon {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
}

.wi3 {
    width:50%;
    height:10%;
    display: block;
}

.footerwrapper {
    padding:10px
}

.footertext {
    
    font-size: clamp(1rem, 1vw, 1.2rem);
    color: white;
}

.footertextclickable:hover {
    cursor: pointer;
}



.footerlogo {
    width: 240px;
    height: auto;
    flex-shrink: 0;
}

.footerlogo2 {
    display: none;
}

@media (orientation: portrait) {

    .wi3 {
        display: none;
    }

    .footerlogo2 {
        display: block;
        width:50px;
        height:50px
    }
    .footerwrapper {
        padding:5px
    }

    .footerlogo {
        width:50px;
        height:50px
    }

    .SMI {
        width: 20px;
        height: auto;
    }
}