@font-face {
    font-family: PersonalServices;
    src: url('@/assets/personal_services/Personal Services.ttf');
}

.herotextwrapper {
    padding-left: 5%;
}

.heroheader {

    font-family: PersonalServices, 'sans-serif';
    font-size: clamp(2rem, 3.8vw, 4rem);

    
}

.herobutton {
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: clamp(.6rem, 1vw, 1.5rem);
}

.herotext {
    font-size: clamp(.8rem, 1vw, 1.2rem);
}

@media (max-width:912px) {

    .heroheader, .herotext {
        text-align: center;
    }

    .herobutton {
        padding:5px;
        flex:1
    }

    .herotextwrapper {
        padding:10px
    }
    
    
}