.smoke {
  position:absolute;
  right:7%;
  bottom:35%;
  width:200%;
  height:200%;
  object-fit:contain;
  mix-blend-mode:screen

}

.visualbox {
  aspect-ratio: auto;
  position: absolute;
  width:60%
}


@media (max-width:912px) {
  
  .hcfoodimage {
    bottom:0;
  }

  .visualbox {
    width:100%;
    height:auto;
    bottom:0;

  }

  .foodbucket {
    height:auto;
    width:auto
  }
}