.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.herocarimg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.smoke {
  mix-blend-mode: screen;
  position: absolute;
  width:10%;
  height:auto;
  top: -64%;
  left:17%;
  transform:scale(1.5);

}