.ourstorycontainer {
    background-image: url('/src/assets/img/Backgrounds/aboutus2.png');
    background-size: 100% 100%;
    background-position: center;
}


.ourstorywrapper {
    min-height: 100vh;
}

.oscw {
    padding:20px
}

@media (max-width:1024px) {

    .ourstorycontainer {
        background-image: url('/src/assets/img/Backgrounds/aboutusmobile2.png');
        background-size: 100% 100%;
        background-position: center;
    }

    .ourstorywrapper {
        min-height: 60vh;
        flex-direction: column;
    }

    .oscw {
        padding:20px;
        width: 100%;
    }

    
}