.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger span:nth-of-type(1).burger-open {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger span:nth-of-type(2).burger-open {
  width: 0%;
  opacity: 0;
}

.burger span:nth-of-type(3).burger-open {
  transform: rotate(-45deg);
  top: 22px;
  left: 5px;
}

.burger {
  position: relative;
  width: clamp(32px, 6vw, 40px);
  height: clamp(24px, 4.5vw, 30px);
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out, background-color .2s ease;
}

.scrollbar h1, .scrollbar button {

    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    
    

}

.scrollbar h1 {
    font-size: 2rem;
}

.scrollbar button:hover {

    background-color: #142b42;
    cursor: pointer;
}

.scrollbar {
    overflow-y: scroll;
    padding: 20px;
}

.scrollbar .menu-trigger-btn {
  color: #012447 !important;
}

.scrollbar .menu-trigger-btn[data-state="open"] {
  color: #ffffff !important;
}