

.CSCH {
    color: #012447;
    font-family: 'PersonalServices', sans-serif;
    font-size: clamp(.75rem, 1.25vw, 2rem);
    overflow-wrap: break-word;

}

.CSCT {
    color: white;
    text-align: center;
}