@font-face {
    font-family: PersonalServices;
    src: url('@/assets/personal_services/Personal Services.ttf');
}

.ELH {
    color: black;
    font-family: 'PersonalServices', sans-serif;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.ELH2 {
    color: #012447;
    font-family: 'PersonalServices', sans-serif;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.ELT {
    color: black;
    font-size: clamp(.75rem, 1vw, 1.5rem);
}

.ELBook {
    background-color: #012447;
    color: white;
}

.ELBook:hover {
    background-color: white;
    color: #012447;
}

.ELDir {
    background-color: white;
    color: orange;
} 

.ELDir:hover {
    background-color: orange;
    color:white
}

@media (max-width:768px) {

}