@font-face {
    font-family: PersonalServices;
    src: url('@/assets/personal_services/Personal Services.ttf');
}

.contactwrapper {
    padding:20px;
    justify-content: center;
    min-height: 0;
    min-height: 100vh

}

.CUH {
    color: white;
    font-family: 'PersonalServices', sans-serif;
    font-size: clamp(2rem, 3vw, 3.5rem);
    padding-top: 100px;

}

.CUH2 {
    color: white;
    font-family: 'PersonalServices', sans-serif;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

.CUT {
    font-weight: bold;
    font-size: 1.5rem;
}

.CUI {
    position: absolute;
    bottom:0;
    right:0;
    height: 70%;
    width: auto;
    aspect-ratio: inherit;
}

.CUI2 {
    position: absolute;
    bottom:0;
    right:0;
    height: 30%;
    width: auto;
    aspect-ratio:initial;

}

.socmediawrapper {
    padding:20px
}

@media (max-width:768px) {

    .socmediawrapper {
        padding:5px
    }

    .contactwrapper {
        padding:20px;
    }

    .CUH {
        padding-top: ;
    }

   

    .CUI {
        position: absolute;
        bottom:0;
        right:0;
        height: 100%;
        width: auto;
    }

    .CUI2 {
        position: absolute;
        bottom:0;
        right:0;
        height: 30%;
        width: auto;
    }

    .CUT {
        font-size: clamp(.75rem, 1vw, 1.5rem);

    }
}


